zad11_spring_dbunit/src/test/resources/dataset.dtd

<!ELEMENT dataset (
    CAR*,
    PERSON*,
    PERSON_CAR*,
    ADDITION*,
    PIZZA*,
    ADDITION_PIZZA*,)>

<!ELEMENT CAR EMPTY>
<!ATTLIST CAR
    ID CDATA #REQUIRED
    MAKE CDATA #IMPLIED
    MODEL CDATA #IMPLIED
    SOLD CDATA #IMPLIED
>

<!ELEMENT PERSON EMPTY>
<!ATTLIST PERSON
    ID CDATA #REQUIRED
    FIRSTNAME CDATA #IMPLIED
    PIN CDATA #REQUIRED
    REGISTRATIONDATE CDATA #IMPLIED
>

<!ELEMENT PERSON_CAR EMPTY>
<!ATTLIST PERSON_CAR
    CARS_ID CDATA #REQUIRED
    PERSON_ID CDATA #REQUIRED
>

<!ELEMENT ADDITION EMPTY>
<!ATTLIST ADDITION
    ID CDATA #REQUIRED
    NAME CDATA #IMPLIED
>

<!ELEMENT PIZZA EMPTY>
<!ATTLIST PIZZA
    ID CDATA #REQUIRED
    NAME CDATA #IMPLIED
>

<!ELEMENT PIZZA_ADDITION EMPTY>
<!ATTLIST PIZZA_ADDITION
    ADDITION_ID CDATA #REQUIRED
    PIZZA_ID CDATA #REQUIRED
>

