zad10-dbunit/databaseDump.dtd

<!ELEMENT dataset (
    MOCK_DATA*,
    PERSON*)>

<!ELEMENT MOCK_DATA EMPTY>
<!ATTLIST MOCK_DATA
    ID CDATA #REQUIRED
    COLOR CDATA #IMPLIED
    CURRENCY CDATA #IMPLIED
    IBAN CDATA #IMPLIED
>

<!ELEMENT PERSON EMPTY>
<!ATTLIST PERSON
    ID CDATA #REQUIRED
    NAME CDATA #IMPLIED
    YOB CDATA #IMPLIED
>

